@use './mixins/mixin.scss' as *;

.l-carousel {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  height: 300px;
}


.l-carousel-next-level,
.l-carousel-prev-level {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 40%;
  width: 30px;
  height: 30px;
  background-color: rgba(0,0,0,0.3);
  z-index: 99;
}
.l-carousel-btn-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.l-carousel-next-level {
  right: 10px;
}
.l-carousel-prev-level {
  left: 10px;
}
