@use './mixins/mixin.scss' as *;

.#{$namespace}-carousel {
  position: relative;
  overflow: hidden;
}

.#{$namespace}-carousel-btn-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.#{$namespace}-carousel-next-horizontal,
.#{$namespace}-carousel-prev-horizontal {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 40%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
}

.#{$namespace}-carousel-next-horizontal {
  right: 10px;
}

.#{$namespace}-carousel-prev-horizontal {
  left: 10px;
}

.#{$namespace}-carousel-next-vertical,
.#{$namespace}-carousel-prev-vertical {
  position: absolute;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  border-radius: 40%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
}

.#{$namespace}-carousel-next-vertical {
  bottom: 10px;
  transform: rotate(90deg);
}

.#{$namespace}-carousel-prev-vertical {
  top: 10px;
  transform: rotate(90deg);
}

.#{$namespace}-carousel-dot-vertical {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.#{$namespace}-carousel-dot-horizontal {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.#{$namespace}-carousel-dot-horizontal div {
  margin: 0 10px;
}

.#{$namespace}-carousel-dot-vertical div {
  margin: 10px 0;
}

.#{$namespace}-carousel-dot-content,
.#{$namespace}-carousel-dot-content-activity {
  list-style: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  cursor: pointer;
}

.#{$namespace}-carousel-dot-content-activity {
  background-color: rgba(255, 255, 255, .8);
}

.prev-horizontal-enter-active {
  animation: carouselPrevHorizontal 500ms;
}

.prev-horizontal-leave-active {
  animation: carouselPrevHorizontal reverse 500ms;
}
.next-horizontal-enter-active {
  animation: carouselNextHorizontal 500ms;
}
.next-horizontal-leave-active {
  animation: carouselNextHorizontal reverse 500ms;
}
.prev-vertical-enter-active {
  animation: carouselPrevVertical 500ms;
}
.prev-vertical-leave-active {
  animation: carouselPrevVertical reverse 500ms;
}

.next-vertical-enter-active {
  animation: carouselNextVertical 500ms;
}
.next-vertical-leave-active {
  animation: carouselNextVertical reverse 500ms;
}
@keyframes carouselPrevHorizontal {
  from {
    transform: translate(-100%,-50%);
  }
  to {
    transform: translateX(0,-50%);
  }
}
@keyframes carouselNextHorizontal {
  from {
    transform: translate(100%,-50%);
  }
  to {
    transform: translateX(0,-50%);
  }
}
@keyframes carouselPrevVertical {
  from {
    transform: translate(0,-100%) rotate(90deg) ;
  }
  to {
    transform: translate(0)  rotate(90deg);
  }
}
@keyframes carouselNextVertical {
  from {
    transform: translate(0,100%) rotate(90deg);
  }
  to {
    transform: translate(0) rotate(90deg);
  }
}
