@use './mixins/mixin.scss' as *;

.#{$namespace}-loading-bar {
  height: 2px;
  background-color: #2080f0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  animation: loading-start 5s;
  animation-fill-mode: forwards;
}
@keyframes loading-start {
  0% {
    width: 0;
  }
  20% {
    width: 30vw;
  }
  40% {
    width: 40vw;
  }
  100% {
    width: 50vw;
  }
}
