@use './mixins/mixin.scss' as *;

.#{$namespace}-loading-bar {
  height: 2px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: var(--lilt-success);
  animation: loading-start 2s;
  animation-fill-mode: forwards;
  opacity: 1;
  transition: max-width 1s , opacity 2s;
  max-width: 50vw;
}
@keyframes loading-start {
  0% {
    width: 0;
  }
  20% {
    width: 15vw;
  }
  85% {
    width: 50vw;
  }
  100% {
    width: 100vw;
  }
}
