@use './mixins/mixin.scss' as *;
.#{$namespace}-menu {
  padding: 2px 5px;
  background-color: white;
}

.#{$namespace}-sub-menu {
  //padding: 7px;
  font-size: 20px;
  cursor: pointer;
}
.#{$namespace}-sub-menu-content {
  padding: 5px 15px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: var(--color-border-2);
  }
}
.#{$namespace}-sub-menu-item {
  padding: 5px;
  transition: all .4s;
  overflow: hidden;
  max-height: 0;
}
.#{$namespace}-sub-menu-arrow {
  transition: all .5s;

}


.#{$namespace}-menu-item,
.#{$namespace}-menu-item-isActivity{
  color: var(--color-text-1);
  padding: 6px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.#{$namespace}-menu-item {
  background-color: var(--bg-color-1);
  transition: background-color .3s;
  &:hover {
    background-color: var(--color-border-2);
  }
}
.#{$namespace}-menu-item-isActivity {

}
