@use './mixins/mixin.scss' as *;

.#{$namespace}-tag {
  margin: 2px;
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  cursor: default;
}
.#{$namespace}-tag-middle {
  padding: 5px 4px;
}
.#{$namespace}-tag-small {
  padding: 2px 3px;
}
.#{$namespace}-tag-large {
  padding: 7px 6px;
}

.#{$namespace}-tag-default {
  color: #333639;
  border: 1px solid #333639;
  background-color: #fafafc;
  fill: #333639;
}

.#{$namespace}-tag-error {
  color: var(--lilt-error);
  border: 1px solid var(--lilt-error);
  background-color: var(--lilt-error-translucent);
  fill: var(--lilt-error);
}

.#{$namespace}-tag-info {
  color: var(--lilt-info);
  border: 1px solid var(--lilt-info);
  background-color: var(--lilt-info-translucent);
  fill: var(--lilt-info);
}
.#{$namespace}-tag-success {
  color: var(--lilt-success);
  border: 1px solid var(--lilt-success);
  background-color: var(--lilt-success-translucent);
  fill: var(--lilt-success);
}
.#{$namespace}-tag-warning {
  color: var(--lilt-warning);
  border: 1px solid var(--lilt-warning);
  background-color: var(--lilt-warning-translucent);
  fill: var(--lilt-warning);
}
.l-tag-closable {
  margin-left: 5px;
  cursor: pointer;
}
.l-tag-avatar {
  display: inline;
}
.l-tag-avatar * {
  width: 14px;
  height: 14px;
}
